@import "./variables.scss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  min-width: 320px;
  background: #f5f9ff;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 120px 20px 100px;
}

.title {
  text-align: center;
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 1;
}

.btn {
  background: $green;
  border-radius: $border-radius;
  border: 0;
  width: 100%;
  padding: 8px 12px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  cursor: pointer;
  transition: $transition;

  &:hover,
  &:focus {
    background: $green-dark;
    border: 0;
    outline: none;
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%, 0);
  display: flex;
  align-items: flex-end;

  &__icon {
    transform: rotate(-45deg);
    height: 60px;
  }

  &__text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #2cc0af;
    margin: 0 0 -5px;
  }
}

.welcome {
  &__description {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}

.form {
  &__inner {
    &.hide {
      visibility: hidden;
      height: 0;
      margin: 0;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    margin: 0 auto 20px;

    &--btn {
      align-items: center;
    }
  }

  &__label {
    flex-shrink: 0;
    margin: 0 0 5px;
    font-size: 12px;
    color: $gray;
  }

  &__input,
  &__select {
    background: $white;
    flex: 1;
    padding: 8px 12px;
    border: 1px solid $gray-light;
    border-radius: $border-radius;
    color: $gray;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    transition: $transition;

    &:focus {
      outline: none;
      border-color: $green-dark;
    }
  }

  &__error {
    display: flex;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: $red;
    margin: 5px 0 0;
  }

  &__btn {
    max-width: 150px;
  }
}

.board {
  &__table {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
  }

  &__panel {
    display: flex;
    margin: 0 0 10px;
  }

  &__panel-column {
    display: flex;
    margin: 0 35px 0 0;

    &:last-child {
      margin: 0 0 0 auto;
    }

    &--time {
      .board__panel-value {
        min-width: 47px;
        text-align: right;
      }
    }
  }

  &__panel-label {
    margin: 0 10px 0 0;
  }

  &__panel-value {
    font-weight: 500;
  }

  &__btn-wrap {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 0 20px;
  }

  &__text-error {
    margin: 10px 0 0;
    color: $red;
  }

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__btn {
    background: $gray-medium;
    max-width: 120px;
    margin: 0 10px;

    &:disabled {
      background: $gray-light;
      cursor: default;

      &:hover,
      &:focus {
        background: $gray-light;
      }
    }

    &:hover,
    &:focus {
      background: $gray;
    }

    &--pause {
      min-width: 90px;
      max-width: none;
      width: auto;
      background: $green;
      margin: 0;
      padding: 3px 6px;

      &:hover,
      &:focus {
        background: $green-dark;
      }
    }
  }
}

.table {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    height: 100%;

    &:nth-child(even) {
      .table__cell {
        background: $green;

        &:nth-child(even) {
          background: $green-dark;

          &.table__cell--open {
            background: $brown;
          }
        }

        &.table__cell--open {
          background: $brown-dark;
        }
      }
    }

    &:nth-child(odd) {
      .table__cell {
        background: $green-dark;

        &:nth-child(even) {
          background: $green;

          &.table__cell--open {
            background: $brown-dark;
          }
        }

        &.table__cell--open {
          background: $brown;
        }
      }
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease-out;

    &:hover:not(.table__cell--open) {
      background: $green-light !important;
    }

    &--flag:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: no-repeat url("./icons/flag.svg") center center;
      width: 20px;
      height: 20px;
    }

    &--open {
      &.table__cell--mine:before,
      &.table__cell--n:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.table__cell--mine:before {
        background: no-repeat url("./icons/bomb.svg") center center;
        width: 20px;
        height: 20px;
      }

      &.table__cell--n:before {
        color: $white;
        font-size: 22px;
        font-weight: 500;
      }

      &.table__cell--n-1:before {
        content: "1";
        color: #1976d2;
      }

      &.table__cell--n-2:before {
        content: "2";
        color: #388e3c;
      }

      &.table__cell--n-3:before {
        content: "3";
        color: #d32f2f;
      }

      &.table__cell--n-4:before {
        content: "4";
        color: #7b1fa2;
      }

      &.table__cell--n-5:before {
        content: "5";
        color: #fe9209;
      }

      &.table__cell--n-6:before {
        content: "6";
        color: #fafe09;
      }

      &.table__cell--n-7:before {
        content: "7";
        color: #09fedd;
      }

      &.table__cell--n-8:before {
        content: "8";
        color: #fe09d5;
      }

      &.table__cell--n-9:before {
        content: "9";
        color: #9009fe;
      }

      &.table__cell--n-10:before {
        content: "10";
        color: #0716ea;
      }
    }
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    width: 80px;
    height: 80px;
    margin: 0 0 30px;
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
  }

  &__btn {
    text-align: center;
  }
}
