$white: #fff;
$gray: #818da9;
$gray-light: #cdd9ed;
$gray-medium: #adb5ca;
$red: #e73310;
$green: #aad751;
$green-dark: #a2d149;
$green-light: #bce077;
$brown: #d7b899;
$brown-dark: #e5c29f;

$border-radius: 6px;

$transition: all 0.3s ease;
